<html>
    <head>
        <title>Wake on Lan - WEB UI</title>
        <!-- Bootstrap core CSS -->
        <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body class="bg-light">

    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Wake on Lan</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <span class="form-inline my-2 my-lg-0">
        </span>
      </div>
    </nav>

    <br/>
    <br/>


    <style>
        .status-badge {
            width: 50px;
            height: 50px;
        }
    </style>

    <div id="app" >
        <main role="main" class="container">

            {% if msg != "" %}
                <div class="alert alert-danger" role="alert">
                  {{ msg }}
                </div>
            {% endif %}

            <form action="{{ url_for("process_login") }}" method="POST">
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input class="form-control" type="text" name="username" placeholder="Enter your username">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Password</label>
                    <input class="form-control" type="password" name="password" placeholder="Enter your password">
                </div>
                <input type="submit" class="btn btn-primary" value="Login">
            </form>
        </main>

    </div>
    </body>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.1/dist/js/bootstrap.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/holder.min.js"></script>
</html>
